asgiref==3.3.1
astroid==2.4.2
colander==1.0
colorama==0.4.4
config==0.5.0.post0
confing==0.1.4
dj-database-url==0.5.0
Django==3.1.4
django-heroku==0.3.1
gunicorn==20.0.4
init==0.1.0
iso8601==0.1.13
isort==5.6.4
lazy-object-proxy==1.4.3
mccabe==0.6.1
phonenumbers==8.12.17
psycopg2==2.8.6
pylint==2.6.0
PyQt5==5.15.2
PyQt5-sip==12.8.1
python-decouple==3.4
pytz==2020.5
PyYAML==5.3.1
qtwidgets==0.17
six==1.15.0
sqlparse==0.4.1
terminal==0.4.0
toml==0.10.1
translationstring==1.4
whitenoise==5.2.0
wrapt==1.12.1
